{% extends "main.html.twig" %}

{% block content %}

{% if atm.forum_cats %}
{% for category in atm.forum_cats %}
<div class="lineblock">
	  <div class="linetitle"><h1>{{ category.title }}</h1></div>
	  <div class="linehead"><div class="forheadpost"></div></div>
	  {% if category.forums %}
	  {% for forum in category.forums %}
	  <div class="linecontent" id="{{ category.id }}">
	    <div class="forstatus"><span><img class="iconline" src="{{ forum.icon_url }}" alt=""/></span></div><div class="forname"><div class="mozilacostil">
			<div class="moderline">{% include "forum/moder_panel_forum.html.twig" %}</div>
			<div class="lineinfo"><a class="namefor" href="{{ forum.forum_url }}"><h2>{{ forum.title }}</h2></a>
			<div class="fordescription">{{ forum.description }}</div>
		    {% if atm.forum.subforums %}
			  <ul class="subforums">
		    {% for subforum in atm.forum.subforums %}
				<li><a href="{{ subforum.forum_url }}"><h3>{{ subforum.title }}</h3></a>{% if subforum.description %}({{ subforum.description }}){% endif %}<b>;</b></li>
		    {% endfor %}
			  </ul>
		   {% endif %}
		    </div>
			</div>
		</div><div class="forteme">
		{% if forum.themes %}
		<ul>
			<li>Тем: <strong>{{ forum.themes }}</strong></li>
			<li>Ответов: <strong>{{ forum.posts }}</strong></li>
		</ul>
		{% endif %}
		</div><div class="fornewmess">{{ forum.last_post | raw }}</div>
	  </div>
	  {% endfor %}
	  {% endif %}
</div>
{% endfor %}
{% else %}
<div class="informs">Не создано ни одного раздела.</div>
{% endif %}
{% include 'forum/get_stat.html.twig' %}
{% endblock %}