{% extends "main.html.twig" %}

{% block content %}

    <form name='sendForm' action="{{ atm.context.action }}" method="POST" onsubmit="sendu(this); return false">
    <div class="forumblock">
          <div class="forumtitle">Разделение темы: {{ theme.title }}</div>
          <div class="mat-content">
              <ul class="spisok-all">
              <li>
                <span class="siu_title"><strong>Форум новой темы:</strong></span>
                <span class="siu_data"><select name="id_forum"> {{ atm.context.options | raw }}</select></span>
              </li>
              <li>
                <span class="siu_title"><strong>Название новой темы:</strong></span>
                <span class="siu_data"><input type="text" name="theme" maxlength="55" value="{{ atm.context.theme }}" /></span>
              </li>
              <li>
                <span class="siu_title"><strong>Описание новой темы:</strong></span>
                <span class="siu_data"><input type="text" name="description" maxlength="128" value="{{ atm.context.description }}" /></span>
              </li>
              <li>
                <span class="siu_title"><strong>Закрыть доступ:</strong></span>
                <span class="siu_data">
                {% for group in users_groups %}
                        <label><input type="checkbox" {% for curr in atm.context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}</label><br />
                {% endfor %}
                </span>
              </li>
              <li>
                <span class="siu_title"><strong>Закрепить первое сообщение темы:</strong></span>
                <span class="siu_data"><input type="checkbox" name="first_top" {% if atm.context.first_top %} checked="checked" {% endif %} /></span>
              </li>
              {% if atm.checkAccess([atm.module,'close_themes']) %}
              <li>
                <span class="siu_title"><strong>Закрыть тему:</strong>Запрет на добавление сообщений в теме</span>
                <span class="siu_data"><input type="checkbox" name="locked" {% if atm.context.locked %} checked="checked" {% endif %} /></span>
              </li>
              {% endif %}
              <li>
                <input type="submit" name="sendForm" value="Разделить" />
                <br />Будет создана новая тема с выделенными сообщениями.
              </li>
              </ul>
          </div>
    {% for post in atm.posts %}
    <div class="forumpost" id="post{{ post.id }}">
    <div class="poststarterinfo">
    <a class="postusername">{{ post.author_name }}</a>
    </div>

    <div class="posttextuser">
                  <div class="headpostinfo"><span class="postdate">Отправлено: {{ post.time }}</span>
                  <label class="postidlink"><input type="checkbox" {% for curr in atm.context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label>
                  </div>
                  <div class="posttext">{{ post.message | raw }}</div>
               </div>
    </div>
    {% endfor %}
    </div>
    <div class="mezdyblock">
    {% if atm.pagination %}<div class="paginator"><div class="pages">{{ atm.pagination }}</div></div>{% endif %}
    </div>
    </form>

{% endblock %}