{% for css in atm.css %}
<link rel="stylesheet" href="{{ css.src }}"{% if css.async %} async{% endif %}{% if css.defer %} defer{% endif %} />
{% endfor %}

{% for js in atm.js %}
<script type="text/javascript" src="{{ js.src }}"{% if js.async %} async{% endif %}{% if js.defer %} defer{% endif %} ></script>
{% endfor %}