<div id="id_senduwin">
   <div style="text-align: center;">
	   {{ atm.data.message | raw }}

	   {% if atm.data.url %}
		<div>
			<a href="{{ atm.data.url }}">Продолжить</a>
		</div>

		{{ atm.data.jsredirect }}

	   {% endif %}
   </div>
</div>