{% extends "main.html.twig" %}

{% block content %}

<div class="material">
      <div class="mat-title"><a href="{{ atm.entity.entry_url }}"><h1>{{ atm.entity.title }}</h1></a><div class="mod-panel">{% include "includes/moder_panel.html.twig" %}</div></div>
	  <div class="mat-content">
		    <div class="main_text margin">{{ atm.entity.main_text | raw }}</div>
			{% if atm.entity.img.attach_all %}
            <div class="screenshots"><div>
            {% for img in atm.entity.img.attach_all %}
			 <a class="gallery" rel="example_group" href="{{ img.full }}"><img src="{{ img.small }}" alt=""/></a>
			{% endfor %}
			</div></div>
            {% endif %}
            <div class="infomats">
		        <div class="namesmats">
				{% if atm.checkAccess([atm.module,'download_files']) %}
                  {% if atm.entity.attachment %}
				       <span class="downloadbutton"><div>{{ atm.entity.attachment | raw }}<div class="infoload">Downloads: {{ atm.entity.downloads }}</div></div></span>
		          {% else %}
				  <div class="errorfile">
		              Файл не найден
				  </div>
		          {% endif %}
		        {% else %}
				<div class="errorfile">
		          У вас нет прав на скачивание файла
				</div>
		        {% endif %}
				{% if atm.entity.tags %}
				<br /><b>Теги: </b>{% for tag in atm.entity.tags %}<a href="{{ atm.www_root | raw }}/loads/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
				{% endif %}
				{% if atm.entity.sourse %}<br /><b>Источник:</b> {{ atm.entity.sourse }}{% endif %}
				</div>
		        <div class="infomatsright">
			      <b>Автор:</b><a href="{{ atm.entity.profile_url }}"> {{ atm.entity.author.name }}</a>
				  <br /><b>Категория:</b> {% for index, category in atm.entity.categories %}{% if index > 0 %},{% endif %}<a href="{{ category.url }}">{{ category.title }}</a>{% endfor %}
			      <br /><b>Просмотров:</b> {{ atm.entity.views }}
				  {% if atm.entity.commented %}<br /><b>Комментариев:</b> {{ atm.entity.comments | raw }}{% endif %}
				  <br />
				  <br /><script language="JavaScript" type="text/javascript" src="{{ atm.template_path }}/js/share.js"></script>
			    </div>
	        </div>
      </div>
</div>
{{ relmat }}




{% include 'default/viewcomment.html.twig' %}
{% include 'default/addcommentform.html.twig' %}
{% endblock %}