{% extends "main.html.twig" %}

{% block content %}


{{ atm.editor_body | raw }}

<script>
function sendPM() {
    $('#send_pm_a').hide();
    $('#send_pm_form').show();
}
</script>

<div class="material">
	  <div class="mat-title">{{ atm.__('Correspondence with %s') | format(atm.context.user.name) }}</div>
	  <div class="mat-content">
	  <div class="userblock">
		  <ul class="userslinks">
		         <li><a href="{{ atm.www_root | raw }}/users/info/{{ atm.user.id }}">Мой профиль</a></li>
		         <li><a id="backuplink" href="{{ atm.www_root | raw }}/users/info/{{ atm.context.user.id }}">К профилю {{ atm.context.user.name }}</a></li>
                 <li><a href="{{ atm.www_root | raw }}/users/pm/">Сообщения</a></li>
		  </ul>
	      <div class="userinfo">
		    <ul class="userlist">
			   <li class="sendbutton" id="send_pm_a" onclick="sendPM()">Развернуть форму для ответа</li>
			   <li id="send_pm_form" style="display: none;overflow: visible;">
			      <form name="sendForm" id="sendForm" action="{{ atm.www_root | raw }}/users/send_pm" method="POST" enctype="multipart/form-data" onsubmit="sendu('sendForm'); return false">
			         <textarea {{ atm.editor_text | raw }} class="text-area" name="mainText"></textarea>
			         <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ atm.context.user.name }}" style="display: none" />
			         <input class="subm" type="submit" name="submitForm" value="Отправить" />
                  </form>
			   </li>
			
		     {% if atm.messages %}
             {% for message in atm.messages %}
                            <li {% if message.viewed != 1 %}class="send"{% endif %}>
							       <div class="userlistavatar"><img src="{% if message.from_user != user.id %} {{ atm.getAvatar(message.user.id) }} {% else %} {{ atm.getAvatar(atm.user.id) }} {% endif %}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
                                              <li>{{ message.delete | raw }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.id }}" /></li>									
								          </ul>
								          <h3 class="userlisttitle">
										  {% if message.from_user != user.id %}
										  <a href="{{ atm.www_root | raw }}/users/info/{{ message.user.id }}">{{ message.user.name }}</a>
										  {% else %}
										  <a style="color: #787C88;text-decoration: none;cursor: default;">{{ message.user.name }}</a>
										  {% endif %}
										  </h3>
										  <div class="text">
			                                {{ message.text | raw }}
		                                  </div>
								          <div>
								               <span>Дата написания: {{ message.sendtime | adate }}</span>
								          </div>
							        </div>
                            </li>
			{% endfor %}
			{% else %}
                <li>
                    Нет сообщений
                </li>
            {% endif %}
			
	           <li>	
			     Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('{{ atm.www_root | raw }}/users/delete_message_pack/');" value="(0)">
	            <div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
	           <li>
           </ul>	
	      </div>
	  </div>
	  </div>
    </div>

{% endblock %}