{% set premoder = comment.premoder | lower %}
{% set show_panel = 0 %}
{# Является ли пользователь автором комментария #}
{% if atm.user.id != 0 and atm.user.id == comment.user_id %}
    {% set is_owner = 1 %}
{% else %}
    {% set is_owner = 0 %}
{% endif %}

{# Определение модуля, к которому относится комментарий #}
{% if atm.module == 'users' %}
    {% set comment_module = comment.module %}
{% else %}
    {% set comment_module = atm.module %}
{% endif %}


{# Премодерация комментария #}
{% if atm.checkAccess(['__other__', 'can_premoder']) and (premoder=='nochecked' or premoder=='rejected') %}
    <a id="atmcpc{{ comment.id }}" class="atm-premoder-confirm moder-confirm" title="{{ atm.__('Confirm') }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmcpc{{ comment.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ comment_module }}/premoder_comment/{{ comment.id }}/confirmed/"></a>
    {% if premoder=='nochecked' %}
        <a id="atmcpr{{ comment.id }}" class="atm-premoder-reject moder-reject" title="{{ atm.__('Reject') }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmcpr{{ comment.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ comment_module }}/premoder_comment/{{ comment.id }}/rejected/"></a>
    {% endif %}
{% endif %}

{# Редактирование #}
{% if atm.checkAccess([comment_module, 'edit_materials']) or (is_owner and atm.checkAccess([comment_module, 'edit_my_comments']) and (atm.config(['raw_time_mess']) == 0 or comment.raw_time_mess)) %}
    <a class="atm-edit moder-edit" title="{{ atm.__('Edit') }}" href="{{ atm.www_root | raw }}/{{ comment_module }}/edit_comment_form/{{ comment.id }}"></a>
    {% set show_panel = 1 %}
{% endif %}

{# Удаление #}
{% if atm.checkAccess([comment_module, 'delete_materials']) or (is_owner and atm.checkAccess([comment_module, 'delete_my_comments']) and (atm.config(['raw_time_mess']) == 0 or comment.raw_time_mess)) %}
    <a id="atmcd{{ comment.id }}" title="{{ atm.__('Delete') }}" class="atm-delete moder-delete" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmcd{{ comment.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ comment_module }}/delete_comment/{{ comment.id }}"></a>
    {% set show_panel = 1 %}
{% endif %}

{# IP оставившего комментарий #}
{% if show_panel %}
    <a target="_blank" href="https://apps.db.ripe.net/search/query.html?searchtext={{ comment.ip }}" class="atm-ip moder-ip" title="IP: {{ comment.ip }}"></a>
{% endif %}

{% if show_panel and comment.raw_time_mess %}
    <br><small>Осталось {{ comment.raw_time_mess }} сек.</small>
{% endif %}
