{% extends "base.html.twig" %}

{% block container %}

    <a id="begin" href="step1.php">НАЧАТЬ</a>
    <div id="descr">
        <div id="logo"></div>
        <h1>Atom-M CMS - это:</h1>
        <h3>Безопасность:</h3>
        <br>    Atom-M CMS имеет очень мощную систему защиты от DDoS-атак,
        SQL-инъекций и имеет мощную систему ведения логов, которая фиксирует любые действия на сайте,
        начиная от создания/удаления/изменения материала и заканчивая ip-адресами компьютеров,
        подвергавших сайт DDoS-атаке.
        <br>
        <br><h3>Скорость:</h3>
        <br>    AtomM CMS является самой высокоскоростной CMS, она генерирует страницы за рекордное время.
        <br>
        <br><h3>Высокие технологии:</h3>
        <br>    Atom-M CMS построена с использованием самых новых технологий как PHP5, HTML5, jQuery, AJAX, ООП,
        имеет модульную структуру и поддерживает систему плагинов.
        <br>
        <br><h3>Темизация:</h3>
        <br>    Темизации сайта Atom-M CMS уделяет больше всего внимания, так как это очень важный фактор в
        создании сайта. Atom-M CMS обладает очень гибкой системой темизации, с помощью которой можно
        разработать дизайн любой сложности человеку без особых знаний программирования
        <br>
        <br><h3>Управление:</h3>
        <br>    Для того, чтобы управлять или администрировать Atom-M CMS не нужно иметь навыков программиста
        или знать миллионы сложных терминов, всё делается для Людей, для Простых людей,
        поэтому интерфейс лёгок и просто в освоении.
        <br>
        <br><h3>Поисковая оптимизация:</h3>
        <br>    Atom-M CMS изначально настроен и сконфигурирован с учетом требований поисковой оптимизации.
        <br>
        <br>
        <br>И при таком наборе Atom-M CMS абсолютно бесплатный продукт!
        Atom-M CMS разрабатывается не ради денег или какой либо другой выгоды, а ради вас, наши дорогие пользователи!
        <br>
        <br>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function progressBar(step) {
            $('#ajaxLoader3').show();
            $.get('progressbar.php?step='+step, function(data){
                $('#ajaxLoader3').hide();
                $('#progressbar').html(data);
            });
        }
        progressBar(1);
    </script>
{% endblock %}