{% extends "base.html.twig" %}

{% block container %}
    <form method="post" action="">
        <div id="descr">
            <div id="newv"></div>

            <h3>Права на папки(с учетом вложенных файлов)</h3>
            <img src="template/img/ajax_loader.gif" style="display:none;" id="ajaxLoader" />
            <div id="checkAccess"></div>
            <br />
            <h3>Настройки сервера и PHP</h3>
            <img src="template/img/ajax_loader.gif" style="display:none;" id="ajaxLoader2" />
            <div id="checkServer"></div>
            <br />

            <h3>Настройки подключения к базе</h3>


                <ul>
                    <li>
                        <span>Хост Сервера SQL</span>
                        <span><div class="inp"><input id="sqlhostInp" type="text" name="host" value="localhost" /><span id="SQLserver">*</span></div></span>
                    </li>
                    <li>
                        <span>Пользователь Базы</span>
                        <span><div class="inp"><input id="sqluserInp" type="text" name="user" value="root" /><span id="SQLuser">*</span></div></span>
                    </li>
                    <li>
                        <span>Пароль Пользователя</span>
                        <span><div class="inp"><input id="sqlpassInp" type="text" name="pass" value="" /><span id="SQLpass">&nbsp;</span></div></span>
                    </li>
                    <li>
                        <span>База Данных</span>
                        <span><div class="inp"><input id="sqlbaseInp" type="text" name="base" value="atom-m" /><span id="SQLbase">*</span></div></span>
                    </li>
                    <li>
                        <span>Префикс таблиц</span>
                        <span><div class="inp"><input id="sqlprefInp" type="text" name="prefix" value=""/><span id="SQLpref">&nbsp;</span></div></span>
                    </li>
                    <br/><br/>
                    <li>
                        <span>Логин Администратора</span>
                        <span><div class="inp"><input type="text" name="adm_login" value="" pattern="[ а-яА-ЯёЁa-zA-Z0-9@-_\.]{3,20}" required/><span>*</span></div></span>
                    </li>
                    <li>
                        <span>Пароль Администратора</span>
                        <span><div class="inp"><input type="text" name="adm_pass" value="" /><span>*</span></div></span>
                    </li>
                </ul>
        </div>
        <input class="btn" type="submit" name="send" value="ПРОДОЛЖИТЬ" />
    </form>
    <br />
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        $(document).ready(function() {
            checkSQL();
            $('input[type=text]').keyup(function() {
                checkSQL();
                checkSQPrefix();
                return true;
            });
            $('input[type=text]').change(function() {
                checkSQL();
                checkSQPrefix();
                return true;
            });
        });

        function checkSQPrefix() {
            val = $('#sqlprefInp').val();
            if (/^[a-z_]*$/.test(val)) {
                $('#SQLpref').html('&nbsp;');
            } else {
                $('#SQLpref').html('<span style="color:#FF0000">Запрещенные символы</span>');
            }
        }
        function checkSQL() {
            base = $('#sqlbaseInp').val();
            host = $('#sqlhostInp').val();
            user = $('#sqluserInp').val();
            pass = $('#sqlpassInp').val();
            $.get('check_sql_server.php?host='+host+'&user='+user+'&pass='+pass, function(data){
                $('#SQLserver').html(data);
                $('#SQLuser').html(data);
                $('#SQLpass').html(data);
            });
            $.get('check_sql_server.php?base='+base+'&type=base&host='+host+'&user='+user+'&pass='+pass, function(data){
                $('#SQLbase').html(data);
            });
        }
        function checkAccess() {
            $('#ajaxLoader').show();
            $.get('check_access.php', function(data){
                $('#ajaxLoader').hide();
                $('#checkAccess').html(data);
            });
        }
        function checkServer() {
            $('#ajaxLoader2').show();
            $.get('check_server.php', function(data){
                $('#ajaxLoader2').hide();
                $('#checkServer').html(data);
            });
        }
        function progressBar(step) {
            $('#ajaxLoader3').show();
            $.get('progressbar.php?step='+step, function(data){
                $('#ajaxLoader3').hide();
                $('#progressbar').html(data);
            });
        }
        function checkUpdate() {
            $.get('ping.php', function(data) {
                $('#newv').html(data);
            });
        }
        checkAccess();
        checkServer();
        progressBar(2);
        checkUpdate();

    </script>
{% endblock %}